In [1]:
numbers = 1
count = 0
while count<=25:
    if numbers%2==0:
        print(numbers)
        count+=1
    numbers+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52

In [2]:
numbers = 1
count = 0
while count<=25:
    if numbers%2!=0:
        print(numbers)
        count+=1
    numbers+=1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51

In [4]:
numbers = 2
count = 0
while count<=25:
    for i in range(2,numbers):
        if numbers%i==0:
            break
    else:
        print(numbers)
        count+=1
    numbers+=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101

In [5]:
year = int(input("enter the year value:"))
if year%4==0 and year%100!=0:
    print("this year is a leap year:")
elif year%100==0 and year%400==0:
    print("this year is a leap year:")
else:
    print("this year is not a leap year:")

enter the year value:2024
this year is a leap year:

a = 0
b = 1
num = int(input("enter the numbers:"))
if num ==1:
    print(a)
else:
    print(a)
    print(b)
    for i in range(1,num):
        c = a+b
        a = b
        b = c
        print(c)

In [8]:
num = int(input("enter the numbers:"))
sum = 0
temp = num
while temp>0:
    digit = temp%10
    cube = digit**3
    sum = sum+cube
    temp//=10
    if sum==num:
        print("this is a armstrong number:")
        break
else:
    print("this is not a armstrong number:")

enter the numbers:153
this is a armstrong number:

In [9]:
num = int(input("enter the number:"))
print("original number:",num)
a = num%10
num = num//10
b = num%10
num = num//10
c = num%10
num = num//10
d = num%10
num = num//10
e = num%10
f = num//10
rev = a*100000+b*10000+c*1000+d*100+e*10+f
print("reverse_number:",rev)

enter the number:123456
original number: 123456
reverse_number: 654321

In [26]:
a = int(input("enter the value of a:"))
b = int(input("enter the value of b:"))
while a%b!=0:
    rem = a%b
    a = b
    b = rem
print("your value of hcf:",b)

enter the value of a:20
enter the value of b:25
your value of hcf: 5

In [27]:
print(a*b/hcf)

5.0

In [31]:
a = int(input("enter the value a:"))
b = int(input("enter the value b:"))
while a%b!=0:
    rem = a%b
    a = b
    b = rem
    
print("your hcf value:",b)

enter the value a:40
enter the value b:15
your hcf value: 5

In [37]:
string = "Bharat got a independence on 1947"
print(string[::-1])

7491 no ecnednepedni a tog tarahB

In [40]:
words = "Bharat got a independence on 1947"
count = 0
character = "a"
for letter in words:
    if character==letter:
        count+=1
print(count)

3

In [41]:
words = "Bharat got a independence on 1947"
count = 0
character = "e"
for letter in words:
    if character==letter:
        count+=1
print(count)

4

In [43]:
animals = ["sharks","jelly fish","star fish","whale","pirana","octopus"]
lst1 = []
for x in animals:
    if x!= "octopus":
        lst1.append(x)
print(lst1)

['sharks', 'jelly fish', 'star fish', 'whale', 'pirana']

In [46]:
animals = ["sharks","jelly fish","star fish","whale","pirana","octopus"]
animals.append("tiger sharks")

In [48]:
print(animals)

['sharks', 'jelly fish', 'star fish', 'whale', 'pirana', 'octopus', 'tiger sharks']

In [50]:
vowels = ["a","i","o","e","u"]
words = "Bharat got a independence on 1947"
count = 0
for letter in words:
    if letter in vowels:
        count+=1
print(count)

10

In [51]:
lst1 = [1,2,3,4,5,5,6,7,8]
lst2 = [2,3,4,5,1,19,16,18,11]

In [55]:
def remove_duplicates(lst2):
    return list(dict.fromkeys(lst2))

In [56]:
remove_duplicates(lst2)

[2, 3, 4, 5, 1, 19, 16, 18, 11]

In [62]:
def unique_items(lst1,lst2):
    unique_lst = []
    for items in lst1:
        if items in lst2:
            unique_lst.append(items)
    return unique_lst

In [63]:
lst1 = [1,2,3,4,5,5,6,7,8]
lst2 = [2,3,4,5,1,19,16,18,11]

In [64]:
unique_items(lst1,lst2)

[1, 2, 3, 4, 5, 5]

In [65]:
result = lambda x, y : x+y

In [66]:
result(2,4)

6

In [68]:
def factorial(a):
    if a ==0:
        return 1
    else:
        return a*factorial(a-1)

In [69]:
factorial(4)

24

In [70]:
lst1 = [1,2,3,4,5,5,6,7,8]
lst2 = [2,3,4,5,1,19,16,18,11]
result = [x+y for x , y in zip(lst1,lst2)]

In [71]:
result

[3, 5, 7, 9, 6, 24, 22, 25, 19]

In [81]:
class subject_marks:
    english = int(input("enter the numbers:"))
    hindi = int(input("enter the numbers:"))
    science = int(input("enter the numbers:"))
    math = int(input("enter the numbers:"))
    social_science = int(input("enter the numbers:"))
    def p(self,evs):
        sum = self.english+self.hindi+self.science+self.math+self.social_science+evs
        average = sum/5
        print("sum:",sum)
        print("average:",average)
        
s = subject_marks()
evs = 64
s.p(evs)
print(s.english)

enter the numbers:57
enter the numbers:82
enter the numbers:64
enter the numbers:69
enter the numbers:74
sum: 410
average: 82.0
57

In [82]:
class parents:
    def func1(self):
        print("this is a parents class")
class child(parents):
    def func2(self):
        print("this is a child class")
        
object = child()
object.func1()
object.func2()

this is a parents class
this is a child class

In [84]:
class Animal:
    def p(self):
        print("this is a parents class:")
class fox(Animal):
    def func(self):
        print("this is a child class:")
        
object = fox()
object.p()
object.func()

this is a parents class:
this is a child class:

In [87]:
import pandas as pd

In [92]:
data = pd.DataFrame( [[20,49,45] , [34,21,19]] , index = ["Male","Femal"] , columns = ["school_A","school_B","school_C"])

In [93]:
data

       school_A  school_B  school_C
Male         20        49        45
Femal        34        21        19

In [101]:
data = pd.DataFrame({"Animal":["Tiger","Tiger","Tortise","Tortise"] , "Speed": [150,150,20,20] , "Top_speed":[175,190,23,26]})

In [102]:
data

    Animal  Speed  Top_speed
0    Tiger    150        175
1    Tiger    150        190
2  Tortise     20         23
3  Tortise     20         26

In [99]:
mean_value = data.groupby("Animal")["Speed"].mean()

In [100]:
mean_value

Animal
Tiger      150.0
Tortise     20.0
Name: Speed, dtype: float64

In [110]:
data = data.assign(speed_diff = (data["Top_speed"]-data["Speed"]))

In [111]:
data

    Animal  Speed  Top_speed  speed_diff
0    Tiger    150        175          25
1    Tiger    150        190          40
2  Tortise     20         23           3
3  Tortise     20         26           6

In [112]:
data = pd.DataFrame({"x":range(1,101) , "y":[x**2 for x in range(1,101)]})

In [113]:
data

      x      y
0     1      1
1     2      4
2     3      9
3     4     16
4     5     25
..  ...    ...
95   96   9216
96   97   9409
97   98   9604
98   99   9801
99  100  10000

[100 rows x 2 columns]

In [114]:
for i in range(5):
    for j in range(5):
        print("*" , end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [115]:
for i in range(5):
    for j in range(5-i):
        print("*" , end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [116]:
for i in range(5):
    for j in range(i+1):
        print("*" , end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [123]:
for i in range(5):
    for j in range(5):
        if (i==0 or i ==4 or j==0 or j==4):
            print("*" , end = " ")
        else:
            print(" " , end = " ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [124]:
for i in range(3):
    for j in range(3):
        if (i==0 or i==2 or j ==0 or j==2):
            print("*" , end = " ")
        else:
            print(" " ,  end = " ")
    print()

* * *
*   *
* * *

In [127]:
for i in range(5):
    for j in range(5-i-1):
        print(" " , end = "")
    for k in range(i+1):
        print("*" , end = " ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [128]:
for i in range(5):
    for j in range(5-i-1):
        print(" " , end = "")
    for k in range(i+1):
        print("*" , end = " ")
    print()
for i in range(5):
    for j in range(i):
        print(" " , end = "")
    for k in range(5-i):
        print("*" , end = " ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [134]:
for i in range(3):
    for j in range(3-i-1):
        print(" " , end = "")
    for k in range(i+1):
        print("*" , end = " ")
    print()
for i in range(3):
    for j in range(i):
        print(" " , end = "")
    for k in range(3-i):
        print("*" , end = " ")
    print()

  *
 * *
* * *
* * *
 * *
  *